<!-- Raikage The Third -->

{% extends "admin/base_admin.html" %}

{% block title %}
Ajout d'un profil
{% endblock title %}


{% block content %}
<div class='content container-fluid'>
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Ajouter un profil</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Ajout d'un profil</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title"></h5>
                    {% for message in messages  %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <form action="" method='POST' class='formulaire-commande'>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-group">
                                <div class="row col-lg-12 titre-formulaire">------Client------</div><br>
                                <div class="form-row">
                                    <div class="col-md-4 form-group">
                                        <label for="">Identité</label>
                                        {{ form.customer_identity }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Addresse</label>
                                        {{ form.address }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Paiement</label>
                                        {{ form.payment_mode }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Téléphone</label>
                                        {{ form.phone }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Addresse électronique</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row col-lg-12 titre-formulaire">------Site------</div><br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Type de site</label>
                                        {{ form.site_type }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Catégorie</label>
                                        {{ form.site_category }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Quantité</label>
                                        {{ form.site_quantity }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Coût</label>
                                        {{ form.site_cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row col-lg-12 titre-formulaire">-----Base de données-----</div><br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Création</label>
                                        {{ form.db_exist }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Catégorie</label>
                                        {{ form.db_category }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Quantité</label>
                                        {{ form.db_quantity }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Coût</label>
                                        {{ form.db_cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row col-lg-12 titre-formulaire">------Nom de domaine----</div><br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Achat</label>
                                        {{ form.domain_exist }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Extension</label>
                                        {{ form.domain_extension }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 form-group">
                                        <label for="">Durée</label>
                                        {{ form.domain_period }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Quantité</label>
                                        {{ form.domain_quantity }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Coût</label>
                                        {{ form.domain_cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row col-lg-12 titre-formulaire">------Hébergement------</div><br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Achat</label>
                                        {{ form.hosting_exist }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Type</label>
                                        {{ form.hosting_type }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 form-group">
                                        <label for="">Durée</label>
                                        {{ form.hosting_period }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Quantité</label>
                                        {{ form.hosting_quantity }}
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="">Coût</label>
                                        {{ form.hosting_cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="row col-lg-12 titre-formulaire">-----Maintenance-----</div><br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Abonnement</label>
                                        {{ form.maintenance_exist }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Catégorie</label>
                                        {{ form.maintenance_category }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Quantité</label>
                                        {{ form.maintenance_quantity }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Coût</label>
                                        {{ form.maintenance_cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class='btn btn-primary'>Génerer le dévis</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class='card-footer'>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}