<!-- Raikage The Third -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>{% block title %}{% endblock title %}</title>
      <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
      <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap'>
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>
   <body>
    	<div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="{% url 'dashboard' %}" class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                    <a href="index.html" class="logo logo-small">
                        <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30">
                    </a>
        	    </div>
            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <div class="top-nav-search">
               {% block search %}
               {% endblock search %}
            </div>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                     {% if request.user.profile.photo %}
                        <span class="user-img"><img class="rounded-circle" src="{{request.user.profile.photo.url}}" width="31" alt=""></span>
                     {% else %}
                        <span class="user-img"><img class="rounded-circle" src="{% static 'img/no-pfp.jpg' %}" width="31" alt=""></span>
                     {% endif %}
                  
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">
                        <div class="avatar avatar-sm">
                           {% if request.user.profile.photo %}
                           <img src="{{request.user.profile.photo.url}}" alt="User Image" class="avatar-img rounded-circle">
                           {% else %}
                           <img src="{% static 'img/no-pfp.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
                           {% endif %}
                           
                        </div>
                        <div class="user-text">
                           {% if request.user.is_authenticated %}
                              <h6>{{request.user.first_name.capitalize}} {{request.user.last_name.capitalize}}</h6>
                              <p class="text-muted mb-0">{{request.user.username}}</p>
                           {% else %}
                              <h6>Lyon Technology</h6>
                              <p class="text-muted mb-0">Administrator</p>
                           {% endif %}
                        </div>
                     </div>
                     {% if request.user.is_authenticated and request.user.profile %}
                        <a class="dropdown-item" href="{% url 'userprofile' request.user.id %}">Profil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
                     {% else %}
                        <a class="dropdown-item" href="{% url 'addprofile' %}">Créer mon profil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
                     {% endif %}
                  </div>
               </li> <!-- A garder -->
            </ul>
         </div>
         <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                     <li class="menu-title">
                        <span> Menu Principal</span>
                     </li>
                     <li>
                        <a href="{% url 'dashboard' %}"><i class="fas fa-chalkboard-teacher"></i> <span>Dashboard</span></a>
                     </li>
                     <li>
                        <a href="{% url 'subscribers' %}"><i class="fas fa-clipboard-list"></i> <span>Abonnés</span></a>
                     </li>
                     <li>
                        <a href="{% url 'devis_all' %}"><i class="fas fa-file-invoice-dollar"></i> <span>Demandes de devis</span></a>
                     </li>
                     <li>
                        <a href="{% url 'messages' %}"><i class="fas fa-book-reader"></i> <span>Messages</span></a>
                     </li>

                     <li class="menu-title">
                        <span>Newsletter</span>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-envelope"></i> <span> Newsletter</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li>
                              <a href="{% url 'publications' %}"><i class="fas fa-envelope"></i> <span>Liste des publications</span></a>
                           </li>
                           <li>
                              <a href="{% url 'add_publication' %}"><i class="fas fa-plus"></i> <span>Enregistrer une publication</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="menu-title">
                        <span>Commandes</span>
                     </li>
                     <li class='submenu'>
                        <a href="#"><i class="fas fa-file"></i> <span>Commandes</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li>
                              <a href=""><i class="fas fa-file-invoice-dollar"></i> <span>Tous les devis</span></a>
                           </li>
                           <li>
                              <a href=""><i class="fas fa-plus"></i> <span>Générer un dévis</span></a>
                           </li>
                        </ul>
                     </li>

                     <li class="menu-title">
                        <span>Gestion interne</span>
                     </li>
                     {% if request.user.is_superuser %}
                     <li>
                        <a href="{% url 'addprofile' %}"><i class="fas fa-user"></i> <span>Ajouter un profil</span></a>
                     </li>
                     {% endif %}
                  
                     <li class="submenu">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li>
                              <a href="{% url 'all_users' %}"><i class="fas fa-users"></i> <span>Liste des utilisateurs</span></a>
                           </li>
                           <li>
                              <a href="{% url 'register' %}"><i class="fas fa-user"></i> <span>Ajouter un utilisateur</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="menu-title">
                        <span>Liens externes</span>
                     </li>
                     <li>
                        <a href="{% url 'home' %}" target='blank'><i class="fas fa-home"></i> <span>Voir le site</span></a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="page-wrapper">
            {% block content %}
            
            {% endblock content %}
            <footer>
               <p>Copyright © 2023 Star-Tech</p>
            </footer>
         </div>
      </div>
      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
	      <!-- pdf JS
		============================================ -->
		<script src="{% static 'assets/js/pdf/jquery.media.js' %}"></script>
		<script src="{% static 'assets/js/pdf/pdf-active.js' %}"></script>
   </body>
   
</html>