<!-- Raikage The Third -->

{% extends "admin/base_admin.html" %}


{% block title %}
Demandes de devis reçues
{% endblock title %}


{% block search %}
<form method='GET' action='{% url "devis_all" %}'>
    <input type="text" name='q' class="form-control" placeholder="Rechercher un devis...">
 </form>
{% endblock search %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Demandes de devis</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Toutes les demandes de devis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom du client</th>
                                    <th>Service requis</th>
                                    <th>Delai</th>
                                    <th>Mode de paiement</th>
                                    <th>Budget</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in devis %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>
                                            <h2>
                                            <a>{{ item.name }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ item.required_service }}</td>
                                        <td>{{ item.delivery_delay }}</td>
                                        <td>{{ item.payment_mode }}</td>
                                        <td>{{ item.budget }}$</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'devis_detail' item.pk %}" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="{% url 'devis_delete' item.pk %}" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                {% if devis.has_previous %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{ devis.previous_page_number }}" tabindex="-1">Précedent</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page=1">1</a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ devis.number }} <span class="sr-only">(current)</span></a>
                </li>
                {% if devis.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ devis.next_page_number }}">{{ devis.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ devis.next_page_number }}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ devis.paginator.num_pages }}">Dernière page</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}