<!-- Raikage The Third -->


{% extends "admin/base_admin.html" %}

{% block title %}

{% endblock title %}


{% block content %}
<div class='content container-fluid'>
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class='list-group-item'><h5 class="card-title"><strong>Sujet</strong> : {{ objet.title }}</h5></li>
                        <li class='list-group-item'><p class="card-text">{{ objet.message }}.</p></li>
                    </ul>
                </div>
                <div class="card-footer ">
                    {% if objet.sent_status == False %}
                    <a href="{% url 'publish' objet.pk %}" class="btn btn-info">Diffuser</a>
                    {% endif %}
                    <a href="{% url 'publication_edit' objet.pk %}" class="btn btn-primary">Modifier</a>
                    <a href="{% url 'publications' %}" class="btn btn-primary">Retourner vers la liste</a>
                    <a href="{% url 'publication_delete' objet.pk %}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

